@media screen and (max-width: 900px) {
  .heroContent {
    width: 100%;
  }
  .startsection {
    background: none;
  }
  .heroContent h1 {
    font-size: 3rem;
  }
  nav {
    display: none;
  }
  .navRes {
    display: block;
  }
  .title h2 {
    font-size: 1.5rem;
  }
  section {
    height: fit-content;
  }
  .bookStepsContent {
    width: 100%;
  }
  .StepsCard {
    margin-top: 20px;
  }
  .reviewCard {
    width: 90%;
    height: fit-content;
    margin: 100px 0;
  }
  .reviewCards {
    width: 90%;
  }
  .subscribe {
    overflow: hidden;
  }
  footer .container {
    flex-direction: column;
  }
  footer .container .BlackBoxs {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .copyRight {
    text-align: start;
    padding: 20px 0;
  }
  footer .mainFooter,
  .footerSection {
    margin: 0 auto;
    width: 90%;
  }
}
